---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/geo/1.0/zip?appid=b88ab65e7d5a23cc8d7dfcd288440fe5&units=imperial&zip=95014%2CUS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"zip":"95014","name":"Cupertino","lat":37.318,"lon":-122.0449,"country":"US"}'
  recorded_at: Mon, 08 Apr 2024 06:05:22 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=b88ab65e7d5a23cc8d7dfcd288440fe5&lat=37.318&lon=-122.0449&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-122.0449,"lat":37.318},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"base":"stations","main":{"temp":47.48,"feels_like":44.19,"temp_min":43.3,"temp_max":51.96,"pressure":1019,"humidity":73},"visibility":10000,"wind":{"speed":6.91,"deg":310},"clouds":{"all":0},"dt":1712556322,"sys":{"type":2,"id":2003278,"country":"US","sunrise":1712497429,"sunset":1712543760},"timezone":-25200,"id":5341145,"name":"Cupertino","cod":200}'
  recorded_at: Mon, 08 Apr 2024 06:05:22 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/forecast?appid=b88ab65e7d5a23cc8d7dfcd288440fe5&lat=37.318&lon=-122.0449&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1712566800,"main":{"temp":46.47,"feels_like":46.47,"temp_min":44.46,"temp_max":46.47,"pressure":1019,"sea_level":1019,"grnd_level":992,"humidity":80,"temp_kf":1.12},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"clouds":{"all":1},"wind":{"speed":1.79,"deg":235,"gust":1.16},"visibility":10000,"pop":0,"sys":{"pod":"n"},"dt_txt":"2024-04-08
        09:00:00"},{"dt":1712577600,"main":{"temp":45.03,"feels_like":45.03,"temp_min":43.81,"temp_max":45.03,"pressure":1019,"sea_level":1019,"grnd_level":992,"humidity":87,"temp_kf":0.68},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"clouds":{"all":2},"wind":{"speed":1.48,"deg":300,"gust":2.28},"visibility":10000,"pop":0,"sys":{"pod":"n"},"dt_txt":"2024-04-08
        12:00:00"},{"dt":1712588400,"main":{"temp":48.07,"feels_like":48.07,"temp_mi[...]
