---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/geo/1.0/zip?appid=b88ab65e7d5a23cc8d7dfcd288440fe5&units=imperial&zip=50322%2CUS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"zip":"50322","name":"Urbandale","lat":41.6295,"lon":-93.723,"country":"US"}'
  recorded_at: Mon, 08 Apr 2024 06:03:12 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=b88ab65e7d5a23cc8d7dfcd288440fe5&lat=41.6295&lon=-93.723&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-93.723,"lat":41.6295},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"base":"stations","main":{"temp":52.56,"feels_like":50.29,"temp_min":46.76,"temp_max":53.64,"pressure":1018,"humidity":59},"visibility":10000,"wind":{"speed":10.36,"deg":230},"clouds":{"all":0},"dt":1712555934,"sys":{"type":2,"id":2035075,"country":"US","sunrise":1712576706,"sunset":1712623658},"timezone":-18000,"id":4879890,"name":"Urbandale","cod":200}'
  recorded_at: Mon, 08 Apr 2024 06:03:12 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/forecast?appid=b88ab65e7d5a23cc8d7dfcd288440fe5&lat=41.6295&lon=-93.723&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1712566800,"main":{"temp":51.01,"feels_like":48.9,"temp_min":48.67,"temp_max":51.01,"pressure":1005,"sea_level":1005,"grnd_level":973,"humidity":66,"temp_kf":1.3},"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"clouds":{"all":24},"wind":{"speed":14.56,"deg":252,"gust":25.77},"visibility":10000,"pop":0,"sys":{"pod":"n"},"dt_txt":"2024-04-08
        09:00:00"},{"dt":1712577600,"main":{"temp":46.78,"feels_like":41.95,"temp_min":44.08,"temp_max":46.78,"pressure":1008,"sea_level":1008,"grnd_level":976,"humidity":78,"temp_kf":1.5},"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"clouds":{"all":39},"wind":{"speed":10.25,"deg":241,"gust":24.99},"visibility":10000,"pop":0,"sys":{"pod":"d"},"dt_txt":"2024-04-08
        12:00:00"},{"dt":1712588400,"main":{"temp":53.98,"feels_like":51.6[...]
