---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/geo/1.0/zip?appid=b88ab65e7d5a23cc8d7dfcd288440fe5&units=imperial&zip=50322%2CUS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"zip":"50322","name":"Urbandale","lat":41.6295,"lon":-93.723,"country":"US"}'
  recorded_at: Mon, 08 Apr 2024 04:17:47 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=b88ab65e7d5a23cc8d7dfcd288440fe5&lat=41.6295&lon=-93.723&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-93.723,"lat":41.6295},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"base":"stations","main":{"temp":54.9,"feels_like":52.95,"temp_min":46.47,"temp_max":55.44,"pressure":1014,"humidity":61},"visibility":10000,"wind":{"speed":8.05,"deg":230},"clouds":{"all":75},"dt":1712549705,"sys":{"type":2,"id":2035075,"country":"US","sunrise":1712490405,"sunset":1712537192},"timezone":-18000,"id":4879890,"name":"Urbandale","cod":200}'
  recorded_at: Mon, 08 Apr 2024 04:17:47 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/forecast?appid=b88ab65e7d5a23cc8d7dfcd288440fe5&lat=41.6295&lon=-93.723&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1712556000,"main":{"temp":52.09,"feels_like":50.09,"temp_min":46.49,"temp_max":52.09,"pressure":1011,"sea_level":1011,"grnd_level":971,"humidity":66,"temp_kf":3.11},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"clouds":{"all":62},"wind":{"speed":14.52,"deg":233,"gust":29.86},"visibility":10000,"pop":0,"sys":{"pod":"n"},"dt_txt":"2024-04-08
        06:00:00"},{"dt":1712566800,"main":{"temp":50.74,"feels_like":48.94,"temp_min":48.67,"temp_max":50.74,"pressure":1009,"sea_level":1009,"grnd_level":973,"humidity":73,"temp_kf":1.15},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"clouds":{"all":72},"wind":{"speed":14.56,"deg":252,"gust":25.77},"visibility":10000,"pop":0,"sys":{"pod":"n"},"dt_txt":"2024-04-08
        09:00:00"},{"dt":1712577600,"main":{"temp":44.08,"feels_like":38.61,[...]
[...]
