---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/geo/1.0/zip?appid=2e5d50f1a643e6b13c89c7c485d51c05&units=imperial&zip=50322%2CUS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"zip":"50322","name":"Urbandale","lat":41.6295,"lon":-93.723,"country":"US"}'
  recorded_at: Mon, 08 Apr 2024 00:06:07 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=2e5d50f1a643e6b13c89c7c485d51c05&lat=41.6295&lon=-93.723&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-93.723,"lat":41.6295},"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"base":"stations","main":{"temp":62.26,"feels_like":60.26,"temp_min":60.87,"temp_max":62.96,"pressure":1001,"humidity":44},"visibility":10000,"wind":{"speed":16.11,"deg":210},"clouds":{"all":100},"dt":1712534607,"sys":{"type":1,"id":3863,"country":"US","sunrise":1712490405,"sunset":1712537192},"timezone":-18000,"id":4879890,"name":"Urbandale","cod":200}'
  recorded_at: Mon, 08 Apr 2024 00:06:07 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/forecast?appid=2e5d50f1a643e6b13c89c7c485d51c05&lat=41.6295&lon=-93.723&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1712545200,"main":{"temp":59,"feels_like":57.04,"temp_min":52.5,"temp_max":59,"pressure":1011,"sea_level":1011,"grnd_level":970,"humidity":52,"temp_kf":3.61},"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"clouds":{"all":94},"wind":{"speed":10.78,"deg":215,"gust":26.89},"visibility":10000,"pop":0,"sys":{"pod":"n"},"dt_txt":"2024-04-08
        03:00:00"},{"dt":1712556000,"main":{"temp":52.54,"feels_like":50.45,"temp_min":47.68,"temp_max":52.54,"pressure":1008,"sea_level":1008,"grnd_level":971,"humidity":63,"temp_kf":2.7},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"clouds":{"all":63},"wind":{"speed":15.43,"deg":235,"gust":29.97},"visibility":10000,"pop":0,"sys":{"pod":"n"},"dt_txt":"2024-04-08
        06:00:00"},{"dt":1712566800,"main":{"temp":46.71,"feels_like":40.71,"[...]
